header{
    color: red;
}
.logo-image{
    margin: 5px;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: center;
}
main{
    height: 80vh;
    background: url(https://wallpaperaccess.com/full/941788.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color: white;
    text-decoration: none;
}
